@model IEnumerable<June17Iden.Models.PersonItem>
@{
    ViewData["Title"] = "CartIndex";
}

<h1>CartIndex</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Person.Name</td>
                <td>@item.Quantity</td>
                @*<td><a asp-action="Remove" asp-controller="Cart" asp-route-id="@item.Person.Id" class="btn btn-danger">Удалить</a></td>*@
            </tr>
        }
    </tbody>
</table>
<a asp-action="Order" asp-controller="Order" class="btn btn-danger">Complete order</a>

