@model IEnumerable<Order>
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
<table class="table">
    <tr><th>Name</th><th>Email</th><th colspan="2">Details</th></tr>
    @foreach(Order order in Model)
    {
        <tr><td>@order.Name</td><td>@order.Email</td><th>Person</th><th>Quantity</th></tr>
        @foreach(OrderItem person in order.OrderItems)
        {
            <tr>
                <td colspan="2"></td>
                <td>@person.Name</td>
                <td>@person.Quantity</td>
            </tr>
        }
    } 
</table>
