@model Order
@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>
<form method="post" asp-action="SaveOrder">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name"/>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Finish" class="btn btn-dark"/>
    </div>
</form>
